
body {overscroll-behavior: none;  margin: 0; padding: 0;}

@keyframes loadding-circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(-360deg); }
}
.loadding-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 148px;
	margin: auto;
	width: 200px;
	color: var(--theme-border-color-default);
}
.loadding-box p {
	margin: 0;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	text-align: center;
}
.loadding {
	width: 100px;
	height: 100px;
	margin: auto;
	position: relative;
}
.loadding::after, .loadding::before {
	border: 5px solid;
	box-sizing: border-box;
	display: block;
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 100%;
	animation:loadding-circle 1s infinite linear;
	-webkit-animation:loadding-circle 1s infinite linear;
}
.loadding::after {
	border-color: #08F transparent;
	width: 50%;
	height: 50%;
	animation-direction: reverse;
}
.loadding::before {
	border-color: transparent #7bF;
	width: 90%;
	height: 90%;
}
a { color:blue; text-decoration: none; }
main {
	outline: 1px;
	user-select: none;
	background: #FFF;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100vh;
	max-width: 1280px;
	margin: auto;
	flex-direction: column;
}
.main {
	flex: 1;
	position: relative;
	overflow: auto;
}
#tool-bar {
	display: flex;
	height: 40px;
	border-bottom: 1px solid var(--theme-border-color-default);
	box-sizing: content-box;
}
#tool-bar > * {
	padding: 0;
	margin: 5px;
	line-height: 28px;
	height: 30px;
	border: 1px var(--theme-border-color-default) solid;
	box-sizing: border-box;
}
#tool-bar .btn {
	text-align: center;
	text-decoration: none;
}
#tool-bar #title {
	flex: 1;
	border: none;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
#tool-bar .set-top {
	width: 30px;
}
#tool-bar .go-home {
	width: 60px;
}
#tool-bar .fullscreen {
	width: 80px;
}
#tool-bar .list {
	width: 200px;
	position: relative;
}
#tool-bar .list ul {
	position: absolute;
	left: -1px;
	right: -1px;
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
}
#tool-bar .list:hover ul {
	display: block;
}
#tool-bar .list a {
	background: #FFF;
	display: inline-block;
	width: 100%;
	line-height: 28px;
	height: 30px;
	border: 1px var(--theme-border-color-default) solid;
	box-sizing: border-box;
}
.xutool-copyright {
	text-align: center;
	line-height: 16px;
	box-sizing: content-box;
	font-size: 12px;
	padding: 0;
	margin: 0;
	border-top: 1px solid var(--theme-border-color-default);
}
#home-index {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
@media (min-width:500px) { #home-index li { width: 50%; float: left; } }
@media (min-width:750px) { #home-index li { width: 33.3333%; } }
@media (min-width:1000px) { #home-index li { width: 25%; } }
@media (min-width:1250px) { #home-index li { width: 20%; } }
#home-index a {
	margin: 2px;
	display: block;
	border: 1px var(--theme-border-color-default) solid;
	padding: 5px;
	border-radius: 5px;
	line-height: 1.5;
}
#home-index a:hover {
	background: #DDD;
}
#home-index * {
	margin: 0;
	padding: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
#home-index h2 {
	color:cornflowerblue;
	font-size: 16px;
}
#home-index p {
	color: var(--theme-border-color-default);
	font-size: 12px;
}
header {
	height: 48px;
	width: 100%;
	background: #08F;
	margin-bottom: 20px;
}
header > div {
	max-width: 1280px;
	margin: auto;
}
header a {
	color: #FFF;
}
header #site-logo {
	font-size: 20px;
	line-height: 48px;
}
header #site-logo img {
	margin: 4px;
	height: 40px;
	float: left;
	max-width: 120px;
}
header nav {
	display: inline-block;
	margin-left: 10px;
}
footer {
	clear: both;
	margin: 20px 0 5px 0;
	line-height: 30px;
	text-align: center;
	border-top: 2px solid #0088FF;
	font-size: 14px;
	color:#666;
}
footer>*{
	display: inline-block;
	margin: 0 5px;
	padding: 0;
}
footer li{
	display: inline;
	margin: 0;
	padding: 0;
}
footer a{
	color: inherit;
	text-decoration: underline;
}
main#main {

	--theme-border-color-default: #999;

	--themeused-text-color: var(--theme-text-color, #000);
	--themeused-text-color-hover: var(--theme-text-color-hover, var(--theme-text-color, #000));
	--themeused-border-color: var(--theme-border-color, var(--theme-border-color-default));
	--themeused-border-color-hover: var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)));
	--themeused-background-color: var(--theme-background-color, #FFF);
	--themeused-background-color-hover: var(--theme-background-color-hover, var(--theme-background-color, #FFF));

	--themeused-button-text-color: var(--theme-button-text-color, var(--theme-text-color, inherit));
	--themeused-button-text-color-hover: var(--theme-button-text-color-hover, var(--theme-button-text-color, var(--theme-text-color-hover, var(--theme-text-color, inherit))));
	--themeused-button-border-color: var(--theme-button-border-color, var(--theme-border-color, var(--theme-border-color-default)));
	--themeused-button-border-color-hover: var(--theme-button-border-color-hover, var(--theme-button-border-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))));
	--themeused-button-background-color: var(--theme-button-background-color, var(--theme-background-color, #FFF));
	--themeused-button-background-color-hover: var(--theme-button-background-color-hover, var(--theme-button-background-color, var(--theme-background-color-hover, var(--theme-background-color, #DDD))));

	--themeused-input-text-color: var(--theme-input-text-color, var(--theme-text-color, inherit));
	--themeused-input-text-color-hover: var(--theme-input-text-color-hover, var(--theme-input-text-color, var(--theme-text-color-hover, var(--theme-text-color, inherit))));
	--themeused-input-border-color: var(--theme-input-border-color, var(--theme-border-color, var(--theme-border-color-default)));
	--themeused-input-border-color-hover: var(--theme-input-border-color-hover, var(--theme-input-border-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))));
	--themeused-input-background-color: var(--theme-input-background-color, var(--theme-background-color, #FFF));
	--themeused-input-background-color-hover: var(--theme-input-background-color-hover, var(--theme-input-background-color, var(--theme-background-color-hover, var(--theme-background-color, #DDD))));

	--themeused-input-placeholder-text-color: var(--theme-input-placeholder-text-color, #777);
	--themeused-input-placeholder-text-color-hover: var(--theme-input-placeholder-text-color-hover, var(--theme-input-placeholder-text-color, #777));
	--themeused-input-placeholder-border-color: var(--theme-input-placeholder-border-color, var(--theme-item-color, var(--theme-border-color, var(--theme-border-color-default))));
	--themeused-input-placeholder-border-color-hover: var(--theme-input-placeholder-border-color-hover, var(--theme-input-placeholder-border-color, var(--theme-item-color-hover, var(--theme-item-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))))));
	--themeused-input-placeholder-background-color: var(--theme-input-placeholder-background-color, var(--theme-item-color, var(--theme-background-color, #FFF)));
	--themeused-input-placeholder-background-color-hover: var(--theme-input-placeholder-background-color-hover, var(--theme-input-placeholder-background-color, var(--theme-item-color-hover, var(--theme-item-color, var(--theme-background-color-hover, var(--theme-background-color, #DDD))))));

	--themeused-mask-text-color: var(--theme-mask-text-color, var(--theme-text-color, inherit));
	--themeused-mask-text-color-hover: var(--theme-mask-text-color-hover, var(--theme-mask-text-color, var(--theme-text-color-hover, var(--theme-text-color, inherit))));
	--themeused-mask-border-color: var(--theme-mask-border-color, var(--theme-border-color, var(--theme-border-color-default)));
	--themeused-mask-border-color-hover: var(--theme-mask-border-color-hover, var(--theme-mask-border-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))));
	--themeused-mask-background-color: var(--theme-mask-background-color, var(--theme-background-color, rgba(0,0,0, 0.5)));
	--themeused-mask-background-color-hover: var(--theme-mask-background-color-hover, var(--theme-mask-background-color, var(--theme-background-color-hover, var(--theme-background-color, rgba(0,0,0, 0.5)))));

	--themeused-item-text-color: var(--theme-item-text-color, var(--theme-text-color, inherit));
	--themeused-item-text-color-hover: var(--theme-item-text-color-hover, var(--theme-item-text-color, var(--theme-text-color-hover, var(--theme-text-color, inherit))));
	--themeused-item-border-color: var(--theme-item-border-color, var(--theme-border-color, var(--theme-border-color-default)));
	--themeused-item-border-color-hover: var(--theme-item-border-color-hover, var(--theme-item-border-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))));
	--themeused-item-background-color: var(--theme-item-background-color, var(--theme-background-color, #FFF));
	--themeused-item-background-color-hover: var(--theme-item-background-color-hover, var(--theme-item-background-color, var(--theme-background-color-hover, var(--theme-background-color, #DDD))));

	--themeused-item-title-text-color: var(--theme-item-title-text-color, var(--theme-item-text-color, var(--theme-text-color, inherit)));
	--themeused-item-title-text-color-hover: var(--theme-item-title-text-color-hover, var(--theme-item-title-text-color, var(--theme-item-text-color-hover, var(--theme-item-text-color, var(--theme-text-color-hover, var(--theme-text-color, inherit))))));
	--themeused-item-title-border-color: var(--theme-item-title-border-color, var(--theme-item-border-color, var(--theme-border-color, var(--theme-border-color-default))));
	--themeused-item-title-border-color-hover: var(--theme-item-title-border-color-hover, var(--theme-item-title-border-color, var(--theme-item-border-color-hover, var(--theme-item-border-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))))));
	--themeused-item-title-background-color: var(--theme-item-title-background-color, var(--theme-item-background-color, var(--theme-background-color, #FFF)));
	--themeused-item-title-background-color-hover: var(--theme-item-title-background-color-hover, var(--theme-item-title-background-color, var(--theme-item-background-color-hover, var(--theme-item-background-color, var(--theme-background-color-hover, var(--theme-background-color, #DDD))))));

	--themeused-item-explain-text-color: var(--theme-item-explain-text-color, var(--theme-item-text-color, var(--theme-text-color, inherit)));
	--themeused-item-explain-text-color-hover: var(--theme-item-explain-text-color-hover, var(--theme-item-explain-text-color, var(--theme-item-text-color-hover, var(--theme-item-text-color, var(--theme-text-color-hover, var(--theme-text-color, inherit))))));
	--themeused-item-explain-border-color: var(--theme-item-explain-border-color, var(--theme-item-border-color, var(--theme-border-color, var(--theme-border-color-default))));
	--themeused-item-explain-border-color-hover: var(--theme-item-explain-border-color-hover, var(--theme-item-explain-border-color, var(--theme-item-border-color-hover, var(--theme-item-border-color, var(--theme-border-color-hover, var(--theme-border-color, var(--theme-border-color-default)))))));
	--themeused-item-explain-background-color: var(--theme-item-explain-background-color, var(--theme-item-background-color, var(--theme-background-color, #FFF)));
	--themeused-item-explain-background-color-hover: var(--theme-item-explain-background-color-hover, var(--theme-item-explain-background-color, var(--theme-item-background-color-hover, var(--theme-item-background-color, var(--theme-background-color-hover, var(--theme-background-color, #DDD))))));

}
