
body {overscroll-behavior: none;  margin: 0; padding: 0;}

@keyframes loadding-circle{
	0%{ transform:rotate(0deg); }
	100%{ transform:rotate(-360deg); }
}
.loadding-box {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 148px;
	margin: auto;
	width: 200px;
	color: #999;
}
.loadding-box p {
	margin: 0;
	height: 16px;
	line-height: 16px;
	font-size: 14px;
	text-align: center;
}
.loadding {
	width: 100px;
	height: 100px;
	margin: auto;
	position: relative;
}
.loadding::after, .loadding::before {
	border: 5px solid;
	box-sizing: border-box;
	display: block;
	content: '';
	position:absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 100%;
	animation:loadding-circle 1s infinite linear;
	-webkit-animation:loadding-circle 1s infinite linear;
}
.loadding::after {
	border-color: #08F transparent;
	width: 50%;
	height: 50%;
	animation-direction: reverse;
}
.loadding::before {
	border-color: transparent #7bF;
	width: 90%;
	height: 90%;
}
a { color:blue; text-decoration: none; }
main {
	user-select: none;
	background: #FFF;
	box-sizing: border-box;
	display: flex;
	width: 100%;
	height: 100vh;
	max-width: 1280px;
	margin: auto;
	flex-direction: column;
	border: 1px solid #999;
}
.main {
	flex: 1;
	position: relative;
	overflow: auto;
}
#tool-bar {
	display: flex;
	height: 40px;
	border-bottom: 1px solid #999;
	box-sizing: content-box;
}
#tool-bar > * {
	padding: 0;
	margin: 5px;
	line-height: 28px;
	height: 30px;
	border: 1px #999 solid;
	box-sizing: border-box;
}
#tool-bar .btn {
	text-align: center;
	text-decoration: none;
}
#tool-bar #title {
	flex: 1;
	border: none;
}
#tool-bar .set-top {
	width: 30px;
}
#tool-bar .go-home {
	width: 60px;
}
#tool-bar .fullscreen {
	width: 80px;
}
#tool-bar .list {
	width: 200px;
	position: relative;
}
#tool-bar .list ul {
	position: absolute;
	left: -1px;
	right: -1px;
	padding: 0;
	margin: 0;
	list-style: none;
	display: none;
}
#tool-bar .list:hover ul {
	display: block;
}
#tool-bar .list a {
	background: #FFF;
	display: inline-block;
	width: 100%;
	line-height: 28px;
	height: 30px;
	border: 1px #999 solid;
	box-sizing: border-box;
}
#tool-bar .list ul {
}

#home-index {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
@media (min-width:500px) { #home-index li { width: 50%; float: left; } }
@media (min-width:750px) { #home-index li { width: 33.3333%; } }
@media (min-width:1000px) { #home-index li { width: 25%; } }
@media (min-width:1250px) { #home-index li { width: 20%; } }
#home-index a {
	margin: 2px;
	display: block;
	border: 1px #999 solid;
	padding: 5px;
	border-radius: 5px;
	line-height: 1.5;
}
#home-index a:hover {
	background: #DDD;
}
#home-index h2 {
	margin: 0;
	padding: 0;
	color:cornflowerblue;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
}
#home-index p {
	color: #999;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space:nowrap;
	margin: 0;
	padding: 0;
}
header {
	height: 48px;
	width: 100%;
	background: #08F;
	margin-bottom: 20px;
}
header > div {
	max-width: 1280px;
	margin: auto;
}
header a {
	color: #FFF;
}
header #site-logo {
	font-size: 20px;
	line-height: 48px;
}
header #site-logo img {
	margin: 4px;
	height: 40px;
	float: left;
	max-width: 120px;
}
header nav {
	display: inline-block;
	margin-left: 10px;
}
footer {
	clear: both;
	margin: 20px 0 5px 0;
	line-height: 30px;
	text-align: center;
	border-top: 2px solid #0088FF;
	font-size: 14px;
	color:#666;
}
footer>*{
	display: inline-block;
	margin: 0 5px;
	padding: 0;
}
footer li{
	display: inline;
	margin: 0;
	padding: 0;
}
footer a{
	color: inherit;
	text-decoration: underline;
}
